/* ------- Comment out below before build ------- */

* {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* --------------------- */

@font-face {
  font-family: "Austin News Text Roman";
  font-style: "normal";
  font-weight: "normal";
  src: url("./fonts/AustinNewsText-Roman.woff") format("woff"),
    url("./fonts/AustinNewsText-Roman.woff2") format("woff2");
}

@font-face {
  font-family: "Telesans Text Regular";
  font-style: "normal";
  font-weight: "normal";
  src: url("./fonts/TelesansText-Regular.woff") format("woff"),
    url("./fonts/TelesansText-Regular.woff2") format("woff2");
}



@font-face {
  font-family: "AustinNewsDeckExtraBold";
  font-style: "bold";
  font-weight: "bold";
  src: url("./fonts/AustinNewsDeck-Extrabold.woff") format("woff"),
    url("./fonts/AustinNewsDeck-Extrabold.woff2") format("woff2");
}


.App {
  max-width: 976px;
  position: relative;
  overflow: hidden;
  background: url(img/background.jpg) center center no-repeat;
  background-size: cover;
  border-top: 4px solid #11f2ff;
  display: block;
  margin: 0px auto;
}

@media (max-width: 1008px) {
  .App {
    max-width: 698px;
  }
}

@media (max-width: 730px) {
  .App {
    max-width: 448px;
  }
}
